body {
  font-family: 'Roboto' , sans-serif;
}

/*=============banner section==================== */
#banner  .col-md-7 h2{
  color: orange;
  margin-left: 20%;
}
#banner  .col-md-7 h5{
  color: #ffffff;
  margin-left: 20%;
    margin-top: 15%;
}
#banner  .col-md-7 p{
  color: #ffffff;
  margin-left: 20%;
}
#banner .row {
  height: 400px;
}
#banner .col-md-7 {
  background-color: #000;
}
#banner .col-md-5 {
  background-color: orange;
}

/*=============aboutme section==================== */
#aboutme  .col-md-12 h2{
  color: #ffffff;
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: center;

}
#aboutme  .col-md-4 span{
  
  color: rgb(167, 114, 16);

}
#aboutme  .col-md-4 h5{
  color: orange;
  margin-bottom: 5%;
  text-align: center;
}
#aboutme  .col-md-4 p{
  color: #ffffff;
  font-style: italic;
 
}
#aboutme .row {
  height: 620px;
}
#aboutme .col-md-12{
  background-color: rgb(7, 6, 6);
}
#aboutme .col-md-4{
  background-color: rgb(7, 6, 6);
}

/*=============myprojects section==================== */
#myprojects .col-md-12 h2{
  color: #ffffff;
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: center;
}

#myprojects  .col-md-4 h2{
  color: orange;
  margin-left: 20%;
}
#myprojects .row {
  height: 600px;
  background-color: #000;
}
#myprojects  .col-md-4 span{
  color: rgb(167, 114, 16);
  text-align: center;
}
#myprojects  .col-md-4 h5{
  color: orange;
  margin-bottom: 5%;
  text-align: center;
  
}
#myprojects  .col-md-4 p{
  color: #ffffff;
  font-style: italic;
  text-align: center;
}



