body {
  font-family: 'Roboto' , sans-serif;
}

/*=============banner section==================== */
#banner  .col-md-7 h2{
  color: orange;
  margin-left: 20%;
}
#banner  .col-md-7 h5{
  color: #ffffff;
  margin-left: 20%;
    margin-top: 15%;
}
#banner  .col-md-7 p{
  color: #ffffff;
  margin-left: 20%;
}
#banner .row {
  height: 400px;
}
#banner .col-md-7 {
  background-color: #000;
}
#banner .col-md-5 {
  background-color: orange;
}

/*=============aboutme section==================== */
#aboutme  .col-md-12 h2{
  color: #ffffff;
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: center;

}
#aboutme  .col-md-4 span{
  
  color: rgb(167, 114, 16);

}
#aboutme  .col-md-4 h5{
  color: orange;
  margin-bottom: 5%;
  text-align: center;
}
#aboutme  .col-md-4 p{
  color: #ffffff;
  font-style: italic;
 
}
#aboutme .row {
  height: 620px;
}
#aboutme .col-md-12{
  background-color: rgb(7, 6, 6);
}
#aboutme .col-md-4{
  background-color: rgb(7, 6, 6);
}



/*=============myprojects section==================== */
#myprojects .col-md-12 h2{
  color: #ffffff;
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: center;
}

#myprojects  .col-md-4 h2{
  color: orange;
  margin-left: 20%;
}
#myprojects .row {
  height: 600px;
  background-color: #000;
}
#myprojects  .col-md-4 span{
  color: rgb(167, 114, 16);
  text-align: center;
}
#myprojects  .col-md-4 h5{
  color: orange;
  margin-bottom: 5%;
  text-align: center;
  
}
#myprojects  .col-md-4 p{
  color: #ffffff;
  font-style: italic;
  text-align: center;
}


/*=============letstalk section==================== */


#letstalk .w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
  color: grey!important;
  background-color: orange!important;
}
.w3-card-4, .w3-hover-shadow:hover {
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 40px 0 rgb(0 0 0);
}


/*=============footer section==================== */

#footer .row {
  background-color: #000;
height: 250px;
}
#footer i {    font-size: 30px;
  
  margin-left: 8%;
  color: white;
  }
#footer  .col-md-12 p{
    color: #ffffff;
    font-style: italic;
    margin-left: 50%;
    margin-top: 6%;
    font-size: 14px;
  }
  
#footer .col-md-12 span {
    color: #ffc107;
    font-style: italic;
    margin-top: 20%;
    font-size: 20px;
    margin-left: 0%;
  }