body {
  font-family: 'Roboto' , sans-serif;
}

/*=============banner section==================== */
#banner  .col-md-7 h2{
  color: orange;
  margin-left: 20%;
}
#banner  .col-md-7 h5{
  color: #ffffff;
  margin-left: 20%;
    margin-top: 15%;
}
#banner  .col-md-7 p{
  color: #ffffff;
  margin-left: 20%;
}
#banner .row {
  height: 400px;
}
#banner .col-md-7 {
  background-color: #000;
}
#banner .col-md-5 {
  background-color: orange;
}